---
layout: default
---
<div class="page-header">
    <h1 class="page-header__title">Code Guide</h1>
    <h4 class="page-header__subtitle">A set of conventions that we use to write code which is consistent and easy to understand</h4>
</div>

<div class="main-content">

    <div class="section">
        <h4 class="section__title">HTML</h4>
        {% for syntax in site.syntax %}
            {% if syntax.categories contains "html" %}
                <p><a class="section__link" href="{{ syntax.url | relative_url }}">{{ syntax.title | escape }}</a></p>
            {% endif %}
        {% endfor %}
    </div>

    <div class="section">
        <h4 class="section__title">CSS</h4>
        {% for syntax in site.syntax %}
            {% if syntax.categories contains "css" %}
                <p><a class="section__link" href="{{ syntax.url | relative_url }}">{{ syntax.title | escape }}</a></p>
            {% endif %}
        {% endfor %}
    </div>

    <div class="section">
        <h4 class="section__title">JavaScript</h4>
        {% for syntax in site.syntax %}
            {% if syntax.categories contains "javascript" %}
                <p><a class="section__link" href="{{ syntax.url | relative_url }}">{{ syntax.title | escape }}</a></p>
            {% endif %}
        {% endfor %}
    </div>

    <div class="section">
        <h4 class="section__title">Python</h4>
        {% for syntax in site.syntax %}
            {% if syntax.categories contains "python" %}
                <p><a class="section__link" href="{{ syntax.url | relative_url }}">{{ syntax.title | escape }}</a></p>
            {% endif %}
        {% endfor %}
    </div>

</div>

